$ravens-red: #A71930; 

$primary-color: #333338; 
$secondary-color: #252529;
$grey-color: #3c3a3a; 
$third-color: #2B2B2B;
$purple: #CB00AF; 

$white: #fff; 
$black: #282828;

$transparent-primary: transparentize($primary-color, 0.3);

$base-background-color: #F2F2F2;
$base-text-color: #282828;
