@import 'styles/module.scss'; 

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top:10px solid black;
  // border-bottom:1px solid black;
  background: #F5F5F5;
}